@import url('https://fonts.googleapis.com/css?family=Roboto');


.low-usage {
  color: green;
}

.medium-usage {
  color: orange;
}

.high-usage {
  color: red;
}

body {
       font-family: 'Roboto', sans-serif;
       background-image: url("https://images.wallpaperscraft.com/image/black_red_line_light_485_2560x1440.jpg");
       color: white;
       background-position: center;
       background-repeat: no-repeat;
}

.control{
       width: 50%;
       height: 500px;
       margin: auto;
       border-radius: 25px;
       background-color: rgb(220, 222, 226, 0.4);
       text-align: center;
}
